@use "../sass-utils/all" as *;

/*  A B O U T  */
.about {
  padding: rem(120) 0;
  border-bottom: 1px solid #86868657;

  @include query(md) {
    padding: rem(80) 0;
  }

  &__header {
    font-size: rem(13);
    color: var(--heading-clr);
  }

  &__text {
    max-width: 63%;

    @include query(md) {
      max-width: 100%;
    }
  }

  .typer {
    display: inline-block;
    vertical-align: baseline;

    > span {
      display: grid;
      overflow: hidden;
      height: 1.3em;

      span {
        text-align: left;
        color: var(--pri-clr);
        font-weight: 400;
        width: 0%;
        max-width: max-content;
        overflow: hidden;
        height: inherit;
        word-break: break-all;
        animation: blink 0.3s infinite ease-in-out,
                   typing 2s linear infinite alternate, 
                   translate 12s steps(3) infinite;

        animation-delay: 3.1s;
        border-right: rem(1) solid var(--text-clr);

        &::before {
          content: "";
          display: inline-block;
        }
      }
    }
  }
}


@keyframes blink {
  to {
    border-color: transparent;
  }
}
@keyframes typing {
  90%,
  100% {
    width: 100%;
  }
}
@keyframes translate{
  100% {
    transform:translateY(-300%);
  }
}
